@using Microsoft.AspNetCore.Identity
@using my_mvc_app.Models
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div>
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
        var userName = userId != null ? UserManager.FindByIdAsync(userId).Result?.UserName : "Guest";
        <p>Hello, @userName!</p>
        <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="form-inline">
            <button type="submit" class="btn btn-link">Logout</button>
        </form>
    }
    else
    {
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-link">Login</a>
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-link">Register</a>
    }
</div>